
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<h1>Dashboard</h1>

<h1>Welcome @TempData["Name"]</h1>
<h1>Welcome @TempData["Name"]</h1>
<h1>Welcome @TempData["Name"]</h1>
<h1>Welcome @TempData["Name"]</h1>