@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<img src="~/img/r1.jpeg" height="200px" width="200px" alt="image" asp-append-version="true"/>
<img src="~/img/r1.jpeg" height="200px" width="200px" alt="image" />