<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <Header>
            <h1>Header Portion</h1>
        </Header>
        @RenderBody()
        <Footer>
            <h1>Footer Portion</h1>
        </Footer>
    </div>
</body>
</html>
